<h1>Update <%= @event.name %></h1>
<div class="links">
<a href="/users/<%= @user.id %>">Events Dashboard</a> | 
<a href="/signout">Logout</a>
</div>
<% if flash[:success] %>
  <p class="green"><%= flash[:success] %></p>
<% end %>
<%= form_for( :event, :url => { :action => :update, :event_id => @event.id } ) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <br />
  <div class="field">
	<%= f.label :city %><br />
	<%= f.text_field :city %>
  </div>
  <br />
  <div class="field">
	<%= f.label :state %><br />
	<%= f.select(:state, options_for_select(us_states, 'WA')) %>
  </div>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <br />
  <div class="actions">
    <%= f.submit "Update Event" %>
  </div>
<% end %>